body{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}


.lista {
    margin:0 auto;
    max-width:500px;
}
.lista-header{
    color:#fff;
    text-align:center;
    font-size:200%;
}

.lista-form{
    max-width:2000px;
    width: 500px;
    height: auto;
    text-align: center;
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}
.lista-form li{
    max-width:200px;
    width: 100%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;

    outline:none;
    padding-left:10px;
}
.lista-form [type="button"]{
    text-align: center;
    margin-right: auto;
    align-items: center;
    display: inline-block;
    height:30px;
    width:280px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
.lista-form b{
    size: auto;
}
    

