body{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}
h1{
    text-align: center;
}

.inicio {
    margin:0 auto;
    max-width:500px;
}
.nosotros-header{
    color:#fff;
    text-align:center;
    font-size:300%;
}
.nosotros-form{
    text-align: center;
}


.nosotros-form input[type="button"]{
    text-align: center;
    margin-right: auto;
    align-items: center;
    display: inline-block;
    height:30px;
    width:280px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
#nav{

    list-style-type: none;
    background: #066dc2;
    height: 25px;
    padding: 0;
}
#nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 5px 20px;
    background: #0779d6;
    color:white;
    cursor: pointer;
}
#nav li:hover{
    background-color: #066dc2;
}
#ima{
    text-align: center  ;
}