{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/afiliacion.css">
<!-- link para fondo awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/afiliacion.css' %}">

</head>

<body>
    

    <div class="afiliacion">
      <div class="afili-header">
        <h1><img src="ima/titulomermelada.jpg" alt="no hay imagen"></h1>
        <h1>Afiliacion de un individuo a un Partido Politico</h1><br>
      </div>
      <div class="afili-form">

        
        <table border="1">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Activado/Desactivado</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in usuarios %}
                
                <tr>
                    
                    <td><a href="{% url 'app:consultAIndi_view' p.id%}">{{p.username}}</a></td>
  
                
                    <td>{% if p.is_activate %}
                        esta activo
                        {% else %}
                        esta desactivado
                        {% endif %}
                {% endfor %}
            </tbody>
          </table>
       
        
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
       

        </div>
    </div>
    
</body>

</html>

