{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/aprobar-afiliacion.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/aprobar-afiliacion.css' %}">
    
</head>

<body>
    

    <div class="inicio">
      <div class="inicio-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>APROBAR AFILIACION INDIVIDUO</h1>
      </div>
      <div class="inicio-form">
       
        <table border="1">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>Activado/Desactivado</th>
              </tr>
          </thead>
          <tbody>
      
              {% for p in usuarios %}
              
              <tr>
                  
                  <td><a href="{% url 'app:consultAIndi_view' p.id%}">{{p.username}}</a></td>

              
                  <td>{% if p.is_activate %}
                      esta activo
                      {% else %}
                      esta desactivado
                      {% endif %}
              {% endfor %}
          </tbody>
        </table>




       
        <p>
          <a href="{% url 'app:inicioAdmin' %}" >
            <input type="button" value="Approve" class="login-button" > 
            </a>
            <br>
            <br><a href="{% url 'app:inicioAdmin' %}" >
            <input type="button" value="Reject" class="login-button" > 
            </a>
        <br>
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
        </p>    



      </div>
    </div>
    
</body>

</html>