{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/aprobar-proceso.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/aprobar-proceso.css' %}">

</head>

<body>
    

    <div class="inicio">
      <div class="inicio-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>APROBAR PROCESO</h1>
      </div>
      <div class="inicio-form">
        
        <table border="1">
          <thead>
              <tr>
                  <th>Proceso</th>
                  <th>Aprobar/desaprobar</th>
              </tr>
          </thead>
          <tbody>
      
              {% for p in usuarios %}
              
              <tr>
                  
                  <td><a href="{% url 'app:aprobarProcesoo_view' p.id%}">{{p.titulo}}</a></td>

              
                  <td>{% if p.aprobado %}
                      esta activado
                      {% else %}
                      esta desactivado
                      {% endif %}
              {% endfor %}
          </tbody>
        </table>










            <br>
            
        </p>  
        
        <br>
        <a href="{% url 'app:inicioAdmin' %}" >
            <input type="button" value="Cancel" class="login-button" > 
            </a>
            <br>
        </p>   



      </div>
    </div>
    
</body>

</html>