{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/aprobar-proceso.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/aprobar-proceso.css' %}">

</head>

<body>
    

    <div class="inicio">
      <div class="inicio-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>APROBAR PROCESO</h1>
      </div>
      <div class="inicio-form">
        
        <table border="1">
          <thead>
              <tr>
                  <th>Proceso</th>
                  <th>Aprobar/desaprobar</th>
              </tr>
          </thead>
          <tbody>
      
                    
              <tr>
                  
                  <td>{{info.titulo}}</td>

              
                  <td>{% if info.aprobado %}
                      esta activado
                      {% else %}
                      esta desactivado
                      {% endif %}
             
          </tbody>
        </table>


            <br>
            
        </p>  



        <p>
            <form method="post" action="{% url 'app:aprobarProceso_post' %}" >
              {% csrf_token %} 
              <br>
              <input type="text" name="id" id="id" style="display: none;" value="{{info.id}}">
              <br>
              <input type="submit" value="aprobar" class="login-button">
              <br>
            </form>
    
          </p>  
          




        
        <br>
        <a href="{% url 'app:inicioAdmin' %}" >
            <input type="button" value="Cancel" class="login-button" > 
            </a>
            <br>
        </p>   



      </div>
    </div>
    
</body>

</html>