{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/consulta-indi.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-indi.css' %}">

</head>

<body>
    

    <div class="login">
      <div class="login-header">
        
        <h1>Aprobar Individuos</h1>
      </div>
      <div class="login-form">
     
       
        <table border="1">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>

                    <th>Aprobado/No aprovado</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in individuos %}
                
                <tr>
                    <td>{{p.apellidos}}</td>
                    <td>{{p.nombres}}</td>

                
                    <td>{% if p.aprobado %}
                         aprobado
                        {% else %}
                        no esta aprobado
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <p>
          
            <select name="indi" size="3">
                <option disabled=''>Seleccione individuo</option>
                
                {% for p in individuos %}
                    
                    <option value="p.id">{{p.apellidos}}</option>

                {% endfor %}
            <br>
            </select>
            <br>
            <button onclick="mostrar_()">mostrar</button>
            <script type="text/javascript">
                function mostrar_(){
                    let id=document.getElementById('id').value;
                    console.log(id)

                }

            </script>
                

            <label >{{p.apellidos}}</label>
            <!-- <select name="enviar mensaje" size="3">
                {% for p in individuos %}
                    <option label="{{p.apellidos}}">{{p.id}}</option>

                {% endfor %}
            </select> -->
        
          </p>

            <br>
            <br>


            <button type="submit">Aprobar</button>
            
            <br>
            <br>
            {% if request.user.is_superuser %}
              <a href="{% url 'app:inicioAdmin' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% else %}
                
              <a href="{% url 'app:inicio_view' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% endif %}
            <br>
           
      </div>
    </div>
    
</body>

</html>