{% extends 'app/base.html' %}


{% block titulo %}
categorias
{% endblock %}

{% block contenido %}
<a href="">ola</a>
<ul>

    {% for c in categorias %}

    <li>{{ c.nombre }}</li>

    {% endfor %}

</ul>


{% endblock %}





