{% extends 'app/base.html' %}



{% block titulo %}
peliculas
{% endblock %}

{% block contenido %}
<a href="{% url 'app:peliculas' %}">ir a pagina de pliculas</a>
    <br>
    <a href="{% url 'app:index' %}">ir al inicio</a>
    <h1>categoria</h1>

    <p>el nombre del actor es {{actor}} y la edad es {{edad}}</p>

    {% if jubilado %}
    <p>el actor  es jubilado </p>
    {% else %}
    <p>el actor aun trrabaja</p>
    {% endif %}


    <h2>filmografia del ator</h2>

    <ul>
        {% for  pelicula in filmografia %}

        <li>{{pelicula.titulo}}</li>

        {% endfor %}

    </ul>


    <h2>tablas de pelicula actor</h2>

    <table border="1">

        <thead> 
            <tr>
                    <th>titulo</th>
                    <th>año</th>
            </tr>

        </thead>
        <tbody>
            {% for movie in filmografia %}
            <tr>
                <td>
                    {{movie.titulo}}
                </td>  
                <td>
                    {{movie.year}}
                </td>

            </tr>
            {% endfor %}
        </tbody>


    </table>




{% endblock %}
