{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/cuenta.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/cuenta.css' %}">



</head>

<body>
  <ul id="nav">
    <a href="inicio.html">
      <li > Home</li>
  
    <a href="nosotros.html">
      <li > About Us</li>
    </a>
   
  </ul>
    

    <div class="login">
      <div class="login-header">
        
        <h1>Configurar Datos de la cuenta</h1>
      </div>
      <div class="login-form">
        <h3>Username:</h3>
        <input type="text" name="username" placeholder="Username"/><br>
        <h3>Password:</h3>
        <input type="password" name="password" placeholder="Password"/>
        <h3>Email</h3>
        <input type="text" name="email" placeholder="Email">
        <h3>Name</h3>
        <input type="text" name="name" placeholder="Name">
        <h3>Last Name</h3>
        <input type="text" name="last_name" placeholder="Last name">
        <br>
        <a href="{% url 'app:inicio_view' %}" >
          <input type="submit" value="Edit" class="login-button">
        </a><br>
        <br>
        <a href="{% url 'app:inicio_view' %}" >
        <input type="button" value="Cancel" class="login-button">
        </a>
        <br>

       
      </div>
    </div>
    
</body>

</html>
