{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/consulta-parti.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-parti.css' %}">


</head>

<body>
    

    <div class="login">
      <div class="login-header">
        
        <h1>Consultar partidos politicos</h1>
      </div>
      <div class="login-form">
      

        <h3>Nombre del partido politico:
        <h3>Centro Democratico</h3>
        </h3><br>
        <h3>Procesos:
        
        </h3>
        <input type="text" placeholder="Cantidad total de procesos: "/>

        <br>
        <input type="text" placeholder="Cantidad total de procesos culpables: 5"/><br>

        <br><h3>Cantidad de visitas:</h3><br>
        <input type="text" placeholder="100 visitas"/><br>
        <br>

        <h3>Lista de afiliados</h3>


        <h3>
            <ul>
        
                <li>Pedreros Nicolas <input type="date">  <input type="date"> </li>
                <li>Vargas Duvan  <input type="date">  <input type="date"> </li>   
                <li>Melo Duvan  <input type="date">  <input type="date"> </li>   
            </ul>
        </h3>
        
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>


      </div>
    </div>
    
</body>

</html>


