{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/lista.css">
<!-- link para fondo awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/lista.css' %}">


</head>

<body>
    

    <div class="lista">
      <div class="lista-header">
        
        <h1>Lista Partidos Politicos</h1>
      </div>
      <div class="lista-form">
        <a href="{% url 'app:form_crear_politico_view' %}">crear partido</a>
       
        <table border="1">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>visitas</th>
                  <th>Procesos</th>
              </tr>
          </thead>
          <tbody>
      
              {% for p in partidos %}
              
              <tr>
                  <td><a href="">{{p.nombre}}</a></td>
                  <td>{% if p.visitas %}
                      {{p.visitas}}
                      {% else %}
                      visitas no disponible 
                      {% endif %}
                  </td>
                  <td>{% if p.procesos %}
                    {{p.procesos}}
                    {% else %}
                    No hay procesos 
                    {% endif %}
                    </td>
                  
              
              
              {% endfor %}
          </tbody>
      </table>
   
      <br>
      {% if request.user.is_superuser %}
        <a href="{% url 'app:inicioAdmin' %}" >
        <input type="button" value="Cancel" class="login-button">
      {% else %}
        
        <a href="{% url 'app:inicio_view' %}" >
        <input type="button" value="Cancel" class="login-button">
      {% endif %}
      <br>
       

        </div>
    </div>
    


</body>

</html>
