{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-proceso.css' %}">




</head>

<body>
    

    <div class="login">
      <div class="login-header">
       
        <h1>Consulta de Proceso</h1>
      </div>
      <div class="login-form">
          
        <table border="1">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Abierto/Cerrado</th>
                    <th>Entidad</th>
                    <th>Monto</th>
                    <th>Comentarios</th>
                    <th>Visitas</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in procesos %}
                
                <tr>
                    <td>{{p.titulo}}</td>
                    <td>{% if p.abierto %}
                        Esta abierto
                        {% else %}
                        Esta cerrado 
                        {% endif %}
    
                    </td>
                    <td>{{p.entidad}}</td>
                    <td>{{p.monto}}</td>
                    <td>{% if p.comentarios %}
                        {{p.Comentarios}}
                        {% else %}
                        Ninguno
                        {% endif %}
    
                    </td>
                    <td>{{p.visitas}}</td>
                {% endfor %}
            </tbody>
        </table>
     
        
      

        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
           
      </div>
    </div>
    
</body>

</html>