{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-indi.css' %}">

</head>

<body>
    

    <div class="login">
      <div class="login-header">
        
        <h1>Consultar Lista de individuos</h1>
      </div>
      <div class="login-form">
        <a href="{% url 'app:form_crear_individuo_view' %}">crear Individuo</a>
       
        <table border="1">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Ultimo partido afiliado</th>
                    <th>Lista de afiliaciones</th>
                    <th>procesos</th>
                    <th>Aprobado/No aprovado</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in individuos %}
                
                <tr>
                    {% if request.user.is_superuser %}
                    <td><a href="{% url 'app:consultAIndi_view' p.id%}">{{p.apellidos}}</a></td>
                    {% else %}
                
                    <td>{{p.apellidos}}</td>
                    {% endif %}
                    
                    <td>{{p.nombres}}</td>
                    <td>{% if p.afiliacion %}
                        esta Aprobado
                        {% else %}
                        no afiliado
                        {% endif %}

                    </td>
                    <td>{% if p.procesos %}
                        tiene {{p.procesos}}
                        {% else %}
                        no tiene procesos
                        {% endif %}
                        
                    <td>{% if p.procesos %}
                        tiene {{p.procesos}}
                        {% else %}
                        no tiene procesos
                        {% endif %}
                
                    <td>{% if p.aprobado %}
                        esta aprobado
                        {% else %}
                        no esta aprobado
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>

            <br>
            <br>
            <br>
            {% if request.user.is_superuser %}
              <a href="{% url 'app:inicioAdmin' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% else %}
                
              <a href="{% url 'app:inicio_view' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% endif %}
            <br>
           
      </div>
    </div>
    
</body>

</html>