{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/consulta-indi.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-indi.css' %}">

</head>

<body>
    

    <div class="login">
      <div class="login-header">
        
        <h1>Aprobar Individuos</h1>
      </div>
      <div class="login-form">
     
       
        <table border="1">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>

                    <th>Aprobado/No aprovado</th>
                </tr>
            </thead>
            <tbody>
        
                
                
                <tr>
                    <td>{{info.apellidos}}</td>
                    <td>{{info.nombres}}</td>

                
                    <td>{% if info.aprobado %}
                         aprobado
                        {% else %}
                        no esta aprobado
                        {% endif %}
                
            </tbody>
        </table>
        <p>
          
           
           
           
        
           
            <!-- <select name="enviar mensaje" size="3">
                {% for p in individuos %}
                    <option label="{{p.apellidos}}">{{p.id}}</option>

                {% endfor %}
            </select> -->
        
          </p>
          <form method="post" action="{% url 'app:aprobar_indivi_post' %}" >
            {% csrf_token %} 
            <br>
            <input type="text" name="id" id="id" style="display: none;" value="{{info.id}}">
            <br>
            <input type="submit" value="aprobar" class="login-button">
            <br>
          </form>

          
            {% if request.user.is_superuser %}
              <a href="{% url 'app:inicioAdmin' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% else %}
                
              <a href="{% url 'app:inicio_view' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% endif %}
            <br>
           
      </div>
    </div>
    
</body>

</html>