{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/consulta-indi.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/consulta-indi.css' %}">


</head>

<body>
    

    <div class="login">
      <div class="login-header">
       
        <h1>Consultar Individuo</h1>
      </div>
      <br>
      <br>
      <br>
      <div>

        <fieldset>
            <label >individuos</label>
            <select name="individio" >
        
               {% for c in individuos %}
        
                <option value="{{c.id}}">{{c.nombres}}</option>
                
                <table border="1">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Aprobado</th>
                    <th>Procesos</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in individuos %}
                
                <tr>
                    <td>{{p.apellidos}}</td>
                    <td>{{p.nombres}}</td>
                    <td>{% if p.aprobado %}
                        esta Aprobado
                        {% else %}
                        no aprobado 
                        {% endif %}

                    </td>
                    <td>{% if p.procesos %}
                        tiene {{p.procesos}}
                        {% else %}
                        no tiene procesos
                        {% endif %}
                
                {% endfor %}
            </tbody>
      
        
      

        <br>    
        </table>

               {% endfor %}
        
            </select>
        
        </fieldset>


            
            <button type="submit">Cargar</button>
        

      </div>
      <div class="login-form">
         
        


        <table border="1">
            <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th>Aprobado</th>
                    <th>Procesos</th>
                </tr>
            </thead>
            <tbody>
        
                {% for p in individuos %}
                
                <tr>
                    <td>{{p.apellidos}}</td>
                    <td>{{p.nombres}}</td>
                    <td>{% if p.aprobado %}
                        esta Aprobado
                        {% else %}
                        no aprobado 
                        {% endif %}

                    </td>
                    <td>{% if p.procesos %}
                        tiene {{p.procesos}}
                        {% else %}
                        no tiene procesos
                        {% endif %}
                
                {% endfor %}
            </tbody>
      
        
      

        <br>    
        </table>
        <br>
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>      
        
           
      </div>
    </div>
    
</body>

</html>