{% extends 'app/base.html' %}


{% block titulo %}
Crear categorias
{% endblock %}

{% block contenido %}

<h1>Datos de la categoria</h1>

<hr>
<form action="{% url 'app:crear_categoria_post' %}" method="post">
{% csrf_token %}
<fieldset>
    <label >Nombre</label>
    <input type="text" name="nombre">
</fieldset>
<fieldset>
<label >Descripcion</label>
<input type="text" name="descripcion">
</fieldset>
<fieldset>
    <button type="submit">Crear cateogira</button>
</fieldset>


</form>

{% endblock %}


