{% extends 'app/base.html' %}


{% block titulo %}
Crear pelicula
{% endblock %}

{% block contenido %}

<h1>formularios</h1>

<hr>
<form action="{% url 'app:crear_pelicula_post' %}" method="POST">
{% csrf_token %}
<fieldset>
    <label >titulo</label>
    <input type="text" name="titulo">
</fieldset>


<fieldset> 
    <label >año</label>
    <input type="number" name="year">
</fieldset>
<fieldset>
    <label >sinopsis</label>
    <textarea name="sinopsis"  cols="30" rows="5"></textarea>

</fieldset>

<fieldset>
    <label >Categoria</label>
    <select name="categoria" >

       {% for c in categorias %}

        <option value="{{c.id}}">{{c.nombre}}</option>

       {% endfor %}

    </select>

</fieldset>

<fieldset>
    <button type="submit">crear pelicula</button>
</fieldset>
  






</form>
{% endblock %}


