{% extends 'app/cuenta.html' %}




  {% block contenido %}
<form action="{% url 'app:cuenta_post' %}" method="POST">
    {% csrf_token %} 

    </ul>
        

    <div class="login">
      <div class="login-header">
      
        <h1>Registro</h1>
      </div>
      <div class="login-form">
        <h3>Username:</h3>
        <input type="text" name="username" placeholder="Username"/><br>
        <h3>Password:</h3>
        <input type="password" name="password" placeholder="Password"/>
        <h3>Email</h3>
        <input type="email" name="email" placeholder="Email">
        <h3>Name</h3>
        <input type="text" name="name" placeholder="First Name">
        <h3>Last Name</h3>
        <input type="text" name="last_name" placeholder="Last name">
        <br>
        <a href="index.html" >
          <input type="submit"  value="Create" class="login-button">
        </a><br>
        <br>
        <a href="{% url 'app:index_view' %}">Iniciar sesión</a>
        <br>

      
      </div>
    </div>
</form> 
  {% endblock %}

