{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <!-- <link rel="stylesheet" href="app/static/app/cuenta.css"> -->
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/cuenta.css' %}">
</head>

<body>
  <ul id="nav">
    <a href="inicio.html">
      <li > Home</li>
    </a>
    <a href="cuenta.html">
      <li > Sign Up</li>
    </a>
    <a href="nosotros.html">
      <li > About Us</li>
    </a>
   
 

  <main>



    {% block contenido %}
  
    {% endblock %}

  </main>
  
    
</body>

</html>





