{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de inicio de sesion</title>
    <link rel="stylesheet" href="{% static 'app/inicio.css' %}">

</head>
<body>
    <div class="inicio-header">
        <h1> <img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
    </div>
    <h1>error de autenticacion </h1>
    <a href="{% url 'app:index_view' %}">volver</a>
  
</body>
</html>