{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/habilitar.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/habilitar.css' %}">



</head>

<body>
    

    <div class="inicio">
      <div class="inicio-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>Habiliar/Deshabilitar Ciudadano</h1>
      </div>
      <div class="inicio-form">
        
        <table border="1">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>Nombres</th>

                  <th>Aprobado/No aprovado</th>
              </tr>
          </thead>
          <tbody>
      
              
              
              <tr>
                  <td>{{info.username}}</td>
                  <td>{{info.first_name}}</td>

              
                  <td>{% if info.is_active %}
                      activado
                      {% else %}
                      no esta activado
                      {% endif %}
              
          </tbody>
      </table>

       
        <p>
          <form method="post" action="{% url 'app:habilitar_post' %}" >
            {% csrf_token %} 
            <br>
            <input type="text" name="id" id="id" style="display: none;" value="{{info.id}}">
            <br>
            <input type="submit" value="aprobar" class="login-button">
            <br>
          </form>
  
        </p>  
        
        
        <a href="{% url 'app:inicioAdmin' %}" >
            <input type="button" value="Cancel" class="login-button" > 
            </a>
            <br>
        </p>    



      </div>
    </div>
    
</body>

</html>