{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/implicar.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/implicar.css' %}">




</head>

<body>
    

    <div class="inicio">
      <div class="inicio-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>IMPLICAR UN AFILIADO EN UN PROCESO </h1>
      </div>
      <div class="inicio-form">
        <P>Id del Afiliado: 
            <select >

                <option value="1">001</option>
                <option value="2">002</option>
                <option value="3">003</option>
                <option value="4">004</option>
                <option value="5">005</option>
                <option value="6">006</option>
        
            </select>
        
        </P> 
        <P>Id del Proceso: 
            <select >

                <option value="1">001</option>
                <option value="2">002</option>
                <option value="3">003</option>
                <option value="4">004</option>
                <option value="5">005</option>
                <option value="6">006</option>
        
            </select>
        
        </P> 
        <p>
        
       
        <P>Fecha de implicación:    <input type="date"><br></P> 
        <p><span>Acusación: <input type="text" placeholder="Acusación"/> </span></p>
        <p>Estado: <input type="radio" name="facultad" checked><label >Culpable</label>
            
            <input type="radio"name="facultad"><label >Inocente</label>
            
        </p>
        <p><span>Pena: <input type="text" placeholder="Pena"/><br> </span></p>
        
        <p><span>comentarios: <input type="text" placeholder="Comentarios"/><br> </span></p>
        <a href="inicio.html" >
            <input type="button" value="Accept" class="login-button" > 
            </a><br>
            <br>
            {% if request.user.is_superuser %}
              <a href="{% url 'app:inicioAdmin' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% else %}
                
              <a href="{% url 'app:inicio_view' %}" >
              <input type="button" value="Cancel" class="login-button">
            {% endif %}
            <br>
        </p>    



      </div>
    </div>
    
</body>

</html>