{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <!-- <link rel="stylesheet" href="css/index.css"> -->
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/index.css' %}"> 

</head>

<body>

  <form action="{% url 'app:index_post' %}" method="POST">
    {% csrf_token %} 
    <main>
      {% block contenido %}
          <div class="login">
            <div class="login-header">
              <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
              <h1>Login</h1>
            </div>
            <div class="login-form">
              <h3>Username:</h3>
              <input type="text" name="username" placeholder="Username"/><br>
              <h3>Password:</h3>
              <input type="password" name="password" placeholder="Password"/>
              <br>
              <a href="inicio.html">
              <br>
              <input type="submit"  value="iniciar sesión" class="login-button"/>
              <br>
              <br>
              <a href="{% url 'app:cuenta_view' %}">Crear cuenta</a>
              <br>
              <br>
              <h6 class="no-access">Can't access your account?</h6>
              <br>

            </div>
          </div>
      {% endblock %}

    </main>
  </form> 
    
</body>

</html>