{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/individuo.css">
<!-- link para fondo awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/individuo.css' %}">


</head>

<body>
  <form action="{% url 'app:crear_individuo_post' %}" method="POST">  
    {% csrf_token %}
    <div class="individuo">
      <div class="individuo-header">
        
        <h1>Crear Individuo</h1>
      </div>
      <div class="individuo-form">
        <h3>Apellido:</h3>
        <input type="text" name="apellidos" placeholder="Apellido"/><br>
        <h3>Nombre:</h3>
        <input type="text" name="nombres" placeholder="Nombre"/>
        <h3>Fecha de nacimiento</h3>
        <input type="date" name="fechaDeNacimiento">

        {% if request.user.is_superuser %}
        <h3>Usuario activo/desactivado</h3>
          <select name="aprobado" >
            <option value="1">habilitado </option>
            <option value="0">deshabilitado </option>
          </select>
        {% else %}
                
              
        {% endif %}

        
        
        <br>
        
        <!-- <a href="inicio.html"> -->
          <br>
          <button type="submit">crear Individuo</button>
        <!-- </a> -->
        <br>
        <br>
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
      </div>
    </div>
  </form>   
</body>

</html>