{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <!-- <link rel="stylesheet" href="css/inicio.css"> -->


    
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/inicio.css' %}"> 

</head>

<body>


  <main>
    {% block contenido %}
    <!-- {% if request.user.is_authenticated %} -->

      <ul id="nav">
        <a href="{% url 'app:inicio_view' %}">
          <li > Inicio</li>
        </a>
        <a href="{% url 'app:index_view' %}">
          

          <li > cerrar sesion</li>
        </a>
        <a href="{% url 'app:nosotros_view' %}">
          <li > Nosotros</li>
        </a>
        <a href="{% url 'app:configure_view' %}">
          <li > Configuración</li>
        </a>
      
      </ul>

        <div class="inicio">
          <div>
            <H1>Bienvenido {{ request.user.first_name }}</H1>
          </div>
          <div class="inicio-header">
            <h1> <img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
          </div>
          <div class="inicio-form">
            <br>
            <a href="{% url 'app:form_crear_politico_view' %}">
            <input type="button" value="Crear Partido Politico"/>
            </a>
            <br>
            <a href="{% url 'app:consultaLista_view' %}">
            <input type="button" value="Lista partidos politicos"/>
            </a>
            <br>
           
            
            <a href="{% url 'app:form_crear_individuo_view' %}">
            <input type="button" value="Crear individuo">
            </a>

            <br>
            <a href="{% url 'app:consultaIndi_view' %}">
            <input type="button" value="Lista de individuos">
            </a>
            <br>
            <a href="{% url 'app:consultaIndi_view' %}">
            <input type="button" value="Consutar individuo">
            </a>
            <br>
            <!-- <a href="{% url 'app:afiliacion_view' %}">
            <input type="button" value="Afiliacion individuo a Partido">
            </a>

            <br> -->
            <a href="{% url 'app:proceso_view' %}">
            <input type="button" value="Crear proceso">

            <br>
            <a href="{% url 'app:implicar_view' %}">
            <input type="button" value="Implicar afiliado en un proceso">
            </a>
            <br>
            <a href="{% url 'app:consultaProce_view' %}">
            <input type="button" value="Consutar proceso">
            </a>

            <br>

          </div>
        </div>
        <!-- {% else %}
      
          <a href="{% url 'app:iniciar_sesion_view' %}">iniciar sesion</a>
          <br>
          <span> El usuario no esta autenticado</span>
          <br>
          <a href="{% url 'app:form_registro_view' %}">crear cuenta</a>
      
          {% endif %} -->



    {% endblock %}
  </main>
</body>

</html>