<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <style>
        body{
            display: grid;
            place-items: center;
        }
        fieldset{
            border: 0;
            outline: none;

        }
    </style>

</head>
<body>

    <form action="{% url 'app:iniciar_sesion_post' %}" method="POST">
        {% csrf_token %}

        <fieldset>
            <label >Username</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label >Password</label>
            <input type='password'" name="password">
        </fieldset>
        <fieldset>
            <button type="submit">iniciar sesión</button>
        </fieldset>
    </form>



</body>
</html>