{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/nosotros.css">
<!-- link para fondo awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/nosotros.css' %}">



</head>

<body>

    <ul id="nav">
        <a href="{% url 'app:inicio_view' %}">
          <li > Home</li>
        </a>
        <a href="cuenta.html">
          <li > Sign Up</li>
        </a>
        <a href="nosotros.html">
          <li > About Us</li>
        </a>
        <a href="index.html">
          <li>Log Out</li>
        </a>
        <a href="configure.html">
          <li>Configure</li>
        </a>
       
      </ul>
    
    <div class="nosotros">
      <div class="nosotros-header">
        <h1><img src="{% static 'app/titulomermelada.jpg' %}" alt="no hay imagen"></h1>
        <h1>Acerca de nosotros</h1>
      </div>
      <div class="nosotros-form">

        <b>Estamos enfocados en mostrar hasta los procesos mas reconditos de todos los políticos que no solo se encuentran activos en el poder, sino tambien a los que ya dejaron su puesto y ya estan retirados.
          Por eso ten encuenta toda esta información antes de votar
        </b>
        

      </div>
    </div>
    <h3 id="ima"><img src="{% static 'app/marrano.jpeg' %}" alt="no hay imagen"></h3>

</body>

</html>