{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/politico.css' %}">



</head>
{% csrf_token %}
<body>
  <form action="{% url 'app:crear_politico_post' %}" method="POST">
    {% csrf_token %}
    <div class="login">
      <div class="login-header">
        <!-- <h1><img src="ima/titulomermelada.jpg" alt="no hay imagen"></h1> -->
        <h1>Crear partido politico 
          
        </h1>
      </div>
      <div class="login-form">
        <h3>Nombre del partido politico:</h3>
        <input type="text" name="nombre" /><br>



        
        <!-- <h3>Creador:</h3>
        
        <input type="text" name="creador" value="{{request.user.username}}" readonly>
        <br> -->
        <!-- <a href="{% url 'app:inicio_view' %}"> -->
        <button type="submit">crear Partido</button>
        <!-- </a> -->
        <br>
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
        
      
      
      
      </div>
    </div>

      </div>
    </div>
  </form>  
</body>

</html>


