{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>miprimera pagina web

    </title>
    <link rel="stylesheet" href="css/proceso.css">
<!-- link para fond awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'app/proceso.css' %}">



</head>

<body>
  <form action="{% url 'app:crear_proceso_post' %}" method="POST">    
    {% csrf_token %}
    <div class="inicio">
      <div class="inicio-header">
        
        <h1>CREAR PROCESO</h1>
      </div>
      <div class="inicio-form">

        <P>Titulo: <input type="text" name="titulo" placeholder="Titulo"/><br></P> 
        
        <P>Fecha de inicio:  <input type="date" name="fecha_inicio"><br></P> 
       
        <P>Fecha de finalización:    <input type="date" name="fecha_fin"><br></P> 
        
       

        <P>Entidad: <input type="text" name="entidad" placeholder="Entidad"/><br></P>

        <P>Monto: <input type="number" name="monto" placeholder="Monto"/><br></P>

        <P>Comentarios: <input type="text" name="comentarios" placeholder="Comentarios"/><br></P>
        
        
        <p id="anuncio">El proceso deberá ser aprobado por el<span id="rojo">administrador</span> . </p>
        <p>
        
        <button type="submit">crear proceso</button>

        <br>
        
        <br>
        <br>
        {% if request.user.is_superuser %}
          <a href="{% url 'app:inicioAdmin' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% else %}
	        
          <a href="{% url 'app:inicio_view' %}" >
          <input type="button" value="Cancel" class="login-button">
        {% endif %}
        <br>
            <br>
        </p>    



      </div>
    </div>
  </form>     
</body>

</html>