body{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}


.afiliacion {
    margin:0 auto;
    max-width:500px;
}
.afili-header{
    color:#fff;
    text-align:center;
    font-size:100%;
}
.afili-header h1{
    text-align: center;
    size: small;
}
.afili-form{
    text-align: center;
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
    width: auto;
    height: 320px;
}


.boton{
    background: #E63946;
    color: #f1faee;
    text-decoration: none;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    
    }
