body{
  background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
  background-size: 100% 110%;
}
h1{
  text-align: center;
}

.inicio {
  margin:0 auto;
  max-width:500px;
}
.inicio-header{
  color:#fff;
  text-align:center;
  font-size:100%;
}
.inicio-form{
  text-align: center;
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}


.inicio-form input[type="button"]{
  text-align: center;
  margin-right: auto;
  align-items: center;
  display: inline-block;
  height:30px;
  width:280px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}

#anuncio{
  font-size: 11px;
}
#rojo{
  color: #eb1919;
}