

body {
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
  }
  h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }
  .login {
    margin:0 auto;
    max-width:500px;
  }

  .login-form {
    width: 700px;
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
   
  }
  .login-form h3 {
    text-align:left;
    margin-left:10px;
    margin-right:10px;
    color:#fff;
  }
  .login-form {
   
    box-sizing:border-box;
    padding-top:15px;
      padding-bottom:10%;
    margin:5% auto;
    text-align:center;
  }
  .login-header {
    color:#fff;
    text-align:center;
    font-size:100%;
  }

  .boton{
    background: #E63946;
    color: #f1faee;
    text-decoration: none;
    padding: 5px 15px;
    margin: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    
    }
  .login-form b{
    color: black  ;
  }


















