
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
   display: grid;
   height: 100vh;
   grid-template: 50px auto/  150px auto ;
   grid-template-areas: 
    'header header'
    'nav main'; 
    font-family:Helvetica, sans-serif ;
    width:100vh ;
    background: red;
}
header {
    grid-area: header;
    background:#2641A0;
    display:flex;
    align-items: center;
}
header.logo {
    color: #e5a328;
    margin: 0px 20px;
    border: 2px solid #e5a328;
    padding: 10px 5px;
    font-family : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: rotate(-5deg);
}
header.titulo{
    color: white;
    font-family:Helvetica, sans-serif ;
}

nav{
    grid-area: nav;
    background:#3254cf;
    padding-top: 20px;
}


nav ul{
list-style-type: none;
}
nav ul li{
    padding: 10px 10px;
    background: #22398d;

}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    
}

main{
    grid-area: main;
    background: rgb(245, 237, 237);
    padding: 20px;

}

fieldset{

    border: 0;
    outline: none;
}
form{

    padding: 20px;
}