body{
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}
h1{
    text-align: center;
}

.individuo {
    margin:0 auto;
    max-width:500px;
}
.individuo-header{
    color:#fff;
    text-align:center;
    font-size:200%;
}
.individuo-form{
    text-align: center;
    border:.5px solid #fff;
    background:#4facff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
}

.individuo-form [type="text"]{
    max-width:400px;
    width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;

  
}  .individuo-form input[type="button"] {
    display: inline-block;
    text-align: center;
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
  }
  .individuo-form a{
      display: block;
      padding: 5px;
  }